In [34]:
import mysql.connector as conn
import csv
mydb = conn.connect(host="localhost", user="root", passwd="fsc", use_pure=True)
curr = mydb.cursor()
arr=[]
with open('carbon_nanotubes.csv', 'r') as data:
    data_csv = csv.reader(data, delimiter="\n")
    column=''
    for i in data_csv:
     k=1;
     column=i[0]
     if(k==1):
        break;
    x=True
    for i in data_csv:
     if(x==False):
       a=''
       b=False
       c=False
       for j in range(0,len(i[0])):
          if(i[0][j]!=';'):
            if(b==False and c==False):
               a+=i[0][j]
               c=False
            elif(i[0][j]=='1'):
                a+=i[0][j]
                b=False
            else:
                b=False
                if(c==False):
                   c=True
                else:
                   c=False
          else:
            a+=','
            b=True 
       arr.append(a)
    x=False
queries=["CREATE DATABASE CARBON","USE CARBONATOM","CREATE TABLE ATOMICITY","INSERT INTO TABLE VALUES"]
for query in range(0,len(queries)):
    if query==2:
        b=queries[2]
        z=[]
        q=''
        for i in column:
            if(i==';'):
                z.append(q)
                q=''
            else:
                q+='i'
        z.append(q)
        b+="("
        for i in z:
          b+=(i+"VARCHAR(20),")
        fstr=b[0:len(b)-1]
        curr=mydb.cursor()
        curr.execute(fstr)
    elif query==3:
        for v in arr:
            curr=mydb.cursor()
            curr.execute(query[3]+"VALUES({val})".format(val=(v)))
    else:
        curr=mydb.cursor()
        curr.execute(queries[query])

DatabaseError: 1007 (HY000): Can't create database 'CARBON'; database exists