In [59]:
import mysql.connector as conn
import csv
mydb = conn.connect(host="localhost", user="root", passwd="fsc", use_pure=True)
curr = mydb.cursor()
arr=[]
with open('carbon_nanotubes.csv', 'r') as data:
    data_csv = csv.reader(data, delimiter="\n")
    column=''
    for i in data_csv:
     k=1;
     column=i[0]
     if(k==1):
        break;
    x=True
    for i in data_csv:
     if(x==False):
       a=''
       b=False
       c=False
       for j in range(0,len(i[0])):
          if(i[0][j]!=';'):
            if(b==False and c==False):
               a+=i[0][j]
               c=False
            elif(i[0][j]=='1'):
                a+=i[0][j]
                b=False
            else:
                b=False
                if(c==False):
                   c=True
                else:
                   c=False
          else:
            a+=','
            b=True 
       arr.append(a)
    x=False
queries=["USE CARBONATOM","CREATE TABLE ATOMICITY","INSERT INTO TABLE VALUES"]
for query in range(0,len(queries)):
    if query==1:
        b=queries[1]
        z=[]
        q=''
        for i in column:
            if(i==';'):
                z.append(q)
                q=''
            else:
                if(i==' '):
                    q+='_'
                else:
                    q+=i
        z.append(q)
        b+="("
        for i in range(0,len(z)):
          b+=(z[i]+" varchar(20),")
        fstr=b[0:len(b)-1]
        fstr+=")"
        curr=mydb.cursor()
        print(fstr+";")
#         curr.execute(fstr+";")
    elif query==2:
        for v in arr:
            curr=mydb.cursor()
            curr.execute(queries[2]+"({val})".format(val=(v))+";")
    else:
        curr=mydb.cursor()
        curr.execute(queries[query])

CREATE TABLE ATOMICITY(Chiral_indice_n varchar(20),Chiral_indice_m varchar(20),Initial_atomic_coordinate_u varchar(20),Initial_atomic_coordinate_v varchar(20),Initial_atomic_coordinate_w varchar(20),Calculated_atomic_coordinates_u' varchar(20),Calculated_atomic_coordinates_v' varchar(20),Calculated_atomic_coordinates_w' varchar(20));