In [4]:
import pandas as pd

pd.read_csv('./moon.csv')

,Year,Month,Day,Location,Description,Credit
0,1540,Nov,26,Region of Calippus,Starlike appearance on dark side,Observers at Worms
1,1587,Mar,5,Dark Side,A sterre is sene in the bodie of the moon vpon...,Anonymous
2,1668,Nov,26,Dark Side,Bright starlike point,Several New Englanders
3,1671,Oct,21,Pitatus,NaN,NaN
4,1671,Nov,12,Pitatus,Small whitish cloud,D.Cassini
...,...,...,...,...,...,...
531,1967,Sep,11,Mare Tranquilitaties: 8-9 sec,Black cloud surrounded by violet color,Montreal group
532,1967,Sep,11,Sabine,Bright yellow flash visible a fraction of a se...,Mrs P.Jean and Montreal group
533,1967,Sep,17,Aristarchus,Red color observed,Delano
534,1967,Oct,10,SE of Ross D,Bright area moved 80 kmhr toward SSE and expan...,Harris
535,1967,Oct,19,Kepler,Aristarchus,High moon